body,html{
    height:100%;
    padding:0px;
    margin:0px;
}
.a{
    background-color:#00bcd4;
}
#menu,#cpanel{
    background-color:green;
    text-align: center;
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: 50%;
    height: 20%;
    padding-top: 25px;
}
#cpanel{
        margin-left: 50%;
}
.b{
    background-color:red;
}
.c{
    background-color:#cddc39;
    display:block !important
}
.a,.b,.c{
    display:inline-block;
    width:33.33%;
    height:100%;
    float:left;
}
.moon{
    text-align: center;
    height:20%;
    width:100%;
    position:fixed;
    bottom:0px;
}
.moon img{
    //width: 50%;
    height: 100%;
}

#nave{
    text-align:center;
    position:fixed;
    top:10%;
    width:100%;
    height:20%
}
#nave img{
    height:100%;
}
#cpanel{

}
#hidem,#showm{
    display:none
}
